<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Nouveau message</title>
</head>
<body>
   <h1>{% block title %}Nouveau message de {{ contact.firstname }} {{ contact.lastname }}{% endblock %}</h1>

    {% block body %}
        <p>Email : {{ contact.email }} </p>
        <p>Sujet : {{ contact.subject }} </p>
        <p>Message : {{ contact.message }}</p>
    {% endblock %}
</body>
</html>
